<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.balance">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".SubActivity" />
        <activity android:name=".ExplainActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".love.LoveActivity" />
        <activity android:name=".love.LoveActivity_one" />
        <activity android:name=".love.LoveActivity_two" />
        <activity android:name=".love.LoveActivity_three" />
        <activity android:name=".love.LoveActivity_four" />
        <activity android:name=".love.LoveActivity_five" />
        <activity android:name=".love.LoveActivity_six" />
        <activity android:name=".love.LoveActivity_seven" />
        <activity android:name=".love.LoveActivity_res" />
        <activity android:name=".love.LoveActivity_res1st" />
        <activity android:name=".love.LoveActivity_res2nd" />
        <activity android:name=".love.LoveActivity_res3rd" />
        <activity android:name=".love.LoveActivity_res4th" />
        <activity android:name=".love.LoveActivity_res5th" />
        <activity android:name=".love.LoveActivity_res6th" />
        <activity android:name=".love.LoveActivity_res7th" />
        <activity android:name=".friends.FriendsActivity_one" />
        <activity android:name=".friends.FriendsActivity_two" />
        <activity android:name=".friends.FriendsActivity_three" />
        <activity android:name=".friends.FriendsActivity_four" />
        <activity android:name=".friends.FriendsActivity_five" />
        <activity android:name=".friends.FriendsActivity_six" />
        <activity android:name=".friends.FriendsActivity_seven" />
        <activity android:name=".friends.FriendsActivity_eight" />
        <activity android:name=".money.MoneyActivity_one" />
        <activity android:name=".money.MoneyActivity_two" />
        <activity android:name=".money.MoneyActivity_three" />
        <activity android:name=".money.MoneyActivity_four" />
        <activity android:name=".money.MoneyActivity_five" />
        <activity android:name=".money.MoneyActivity_six" />
        <activity android:name=".money.MoneyActivity_seven" />
        <activity android:name=".money.MoneyActivity_eight" />
    </application>

</manifest>